<?xml version="1.0" encoding="UTF-8"?>
<http:response xmlns:http="http://www.expath.org/mod/http-client" status="201" message="Created">
   <http:header name="Date" value="Mon, 13 Apr 2009 18:03:57 GMT"/>
   <http:header name="Server" value="Jetty/5.1.12 (Mac OS X/10.5.6 i386 java/1.5.0_16"/>
   <http:header name="Content-Length" value="0"/>
   <http:header name="Connection" value="keep-alive"/>
</http:response>
